@import './variables.scss';

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    max-height: 100vh;
    width: 100wh;
    background: #f6f6f6;
}