@import '../styles/variables.scss';

.settings-row {
    position: absolute;
    top: $tool-row-height;

    display: flex;
    align-items: center;

    width: 100%;
    height: $tool-row-height;
    padding: $row-padding;
    border-bottom: 1px solid #f6f6f6;
    background: #fff;
    z-index: 10;
    box-shadow: 0 10px 15px rgba($color: #000000, $alpha: 0.05);

    &__wrapper-calc-width {
        display: flex;
        align-items: center;
    }

    &__line-width {
        display: inline-block;
        height: 25px;
        padding: 3px 5px;
        margin: 0 5px;
        border: 1px solid #000;
        border-radius: 3px;
        font-weight: 700;
        text-align: center;
    }

    &__label-line-width {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
    }

    &__label-stroke-color {
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
    }
}