@import './variables.scss';

.tools-row {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: $tool-row-height;
    padding: $row-padding;
    border-bottom: 1px solid #f6f6f6;
    background: #fff;
    z-index: 10;

    &__left, &__right {
        display: flex;
    }
    
    &__btn {
        position: relative;
        height: 25px;
        border: none;
        color: $disable-icon-color;
        cursor: pointer;
        transition: transform .1s linear;
        background: #fff;

        & + &:not(.tool-control){
            margin-left: 20px;
        }

        &.tool-control {
            & + & {
                margin-left: 15px;
            }

            &_redo {
                margin-left: 5px !important;
            }

            .control-icon {
                color: $active-icon-color;
                transition: transform .1s linear;
            }

            &.disable {
                cursor: default;

                .control-icon {
                    color: #928787;
                }
            }

            &:not(.disable):active {

                control-icon_line {
                    transform: rotate(100deg);
                    height: 23px;
                }
        
                .control-icon_undo {
                    &:active {
                        transform: rotate(-20deg);
                    }
                }

                .control-icon_redo {
                    &:active {
                        transform: rotate(20deg);
                    }
                }

            }
        }

        .tool-icon, .control-icon {
            height: 25px;
            color: $disable-icon-color      ;
            transition: transform .1s linear;
        }

        &.active {
            .tool-icon{
                color: $active-icon-color;
            }
            &:after {
                position: absolute;
                left: 50%;
                bottom: -5px;
                content: "";
                display: block;
                width: 25px;
                height: 2px;
                background: #000;
                
                transform: translateX(-50%);
            }
        }

        &.disable {
            color: $disable-icon-color;
            
            &:hover {
                color: $disable-icon-color;
                cursor: default;
            }
        }

        &:hover {
            .tool-icon, .control-icon {
                color: $active-icon-color;
            }
        }
    }

    .tool-icon_line {
        height: 23px;
        transform: rotate(100deg);
    }

}