@import './variables.scss';

.tools-row {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: $tool-row-height;
    background: #fff;
    
    &--top {
        z-index: 10;
        border-bottom: 1px solid #f6f6f6;
    }

    &--bottom {
        top: $tool-row-height;
        box-shadow: 0 10px 15px rgba($color: #000000, $alpha: 0.05);
    }
}