@import './variables.scss'; 

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc($tool-row-height * 2 + 20px);
}

canvas {
    background: #fff;
    border: 1px solid #000;
}